body{
	color:#0e0d0d;

}
.navbar{
background-color: lightgray;
}
.navbar-default .navbar-brand {
    color: #060000;
}

.navbar-brand{
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	font-weight: bold;
}
h1{
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}
 .collapse{
  	background-color: lightgray;

 }
 .menu{
 	text-align: center;
 }

 li.menu {
    font-size: 20px;
    border-radius: 2px
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #0e0e0e;
}

.row {
    margin-right: 10px;
    margin-left: 10px;
}

h3 {
font-size: 30px;
text-align: center;
font-weight: bold;
}

.section1 {
    background-color: greenyellow;
}

div p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
